/*-- scss:defaults --*/

$primary: #3b6f74;
/*$primary: #7f3b97;*/

/*-- scss:rules --*/

@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:600,700,800|Roboto+Mono:400|Roboto:500';

iframe { border: none; }

#title-block-header a {
  color: var(--bs-light);
  text-decoration: underline;
}

.figure-caption { text-align: center; }
